---
import Features from "./Features.astro";
import YamlPreview from "./YamlPreview.astro";
import CTA from "./CTA.astro";
---

<div class="landing">
  <Features />
  <YamlPreview />
  <CTA />
</div>
